<!DOCTYPE html>
<html>
  <% include head %>
  <body id="whole-body">
    <% include nav %>
    
    <div id="main">
		<div class="full-width header" id="head">
			<div class="">
				<h1>VOGT ALUMNI</h1>
				<h4> SLOGAN </h4>
			</div>
		</div>

		<div class="jumbotron text-center">
			<div class="container">
				<h4>A PROPOS</h4>
				<hr style="border: 0px; border-top: solid 3px #1764b2; width: 230px; margin: .2em auto 1em auto; display: block; height: 1px;">
				<P>Vogt Alumni est née d’un croisement d’idées des élèves du Collège François Xavier Vogt situé à Yaoundé, Cameroun. Elle se veut d’incarner un esprit de solidarité pour assurer le rayonnement de ses membres situés aux quatre coins du monde. </P>
			</div>
			<div class="container">
				<h4>QUI SOMMES-NOUS?</h4>
				<hr style="border: 0px; border-top: solid 3px #1764b2; width: 230px; margin: .2em auto 1em auto; display: block; height: 1px;">
				<div class="row">
					<div class="col-md-6 text-center">
			            <img class="icon" src="images/goal1.png">
			            <h5>Une Grande Famille</h5>
			            <p>Aujourd’hui plus que jamais, appartenir à un réseau vivant et important est une réelle ressource qui ofre à chacun de nombreuses opportunités professionnelles ou personnelles. L’association implique toutes les promotions dans un cadre de respect de la communauté. Vogt Alumni prend sa force dans l’engagement et l’interaction de chacun de ses membres.  Elle se veut de rassembler les anciens élèves venant de secteurs d’activités diférents autour d’événements, de conférences, de débats avec des intervenants de choix.</p>
			        </div>
			        <div class="col-md-6 text-center">
			            <img class="icon" src="images/goal2.png">
			            <h5>Un Réseau autour de votre Carrière</h5>
			            <p>Afin d’être un carrefour d’entraide et d’accompagnement professionnel, l’association met en place une base de données ayant des ofres d’emplois et de stages visibles par les membres sur le site internet. Ces ofres seront envoyées par les entreprises, les structures administratives ou les anciens élèves. Le réseau se veut d’être un véritable moteur et partenaire de carrière.</p>
			        </div>
			    </div>
			    <div class="row">
			        <div class="col-md-6 text-center">
			            <img class="icon" src="images/goal3.png">
			            <h5>Une Communauté tournée vers l’Avenir</h5>
			            <p>Parce que la jeunesse est le fer de lance de l’Avenir, Vogt Alumni s’engage à être un franc soutien pour les élèves en scolarité. Elle promeut l’éducation à travers des discussions autour de thèmes, de dons ciblés et de conseils. Elle met également à disposition des jeunes et futurs diplômés des guides d’orientations et des témoignages sur la vie étudiante et le monde professionnel.</p>
			        </div>
			        <div class="col-md-6 text-center">
			        	<img class="icon" src="images/goal4.png">
			        	<h5>Un Réseau Mondial</h5>
			        	<p>L’association tisse et anime ses réseaux à travers des délégations au Cameroun et à l’étranger. Les membres ont pour but d’accueillir les nouveaux arrivants, de développer la bonne réputation de l’association aux quatre coins du globe.</p>
			        </div>
				</div>
			</div>		
		</div>
		<div class="jumbotron bureau" id="board">
			<div class="container">
				<h4 class="text-center">MEMBRES DU BUREAU EXECUTIF</h4>
				<hr style="border: 0px; border-top: solid 3px #1764b2; width: 230px; margin: .2em auto 1em auto; display: block; height: 1px;">
			</div>
			<div class="container">
				<a href="">
					<div class="personbox">
						<img src="/images/placeholder.png" alt="President">
						<h4>Name</h4>
						<h5>President</h5>
					</div>
				</a>
				<a href="">
					<div class="personbox">
						<img src="/images/placeholder.png" alt="Vice-President">
						<h4>Name</h4>
						<h5>Vice-President</h5>
					</div>
				</a>
				<a href="">
					<div class="personbox">
						<img src="/images/placeholder.png" alt="Secretaire">
						<h4>Name</h4>
						<h5>Secretaire</h5>
					</div>
				</a>
			</div>
		</div>
	</div>

	<div id="action">
		<div class="jumbotron text-center" id="mission">
			<div class="container">
				<h4>MISSION</h4>
				<hr style="border: 0px; border-top: solid 3px #1764b2; width: 230px; margin: .2em auto 1em auto; display: block; height: 1px;">
			</div>
		</div>
		<div class="jumbotron text-center" id="objectif">
			<div class="container">
				<h4>OBJECTIFS</h4>
				<hr style="border: 0px; border-top: solid 3px #1764b2; width: 230px; margin: .2em auto 1em auto; display: block; height: 1px;">
			</div>
		</div>
		<div class="jumbotron text-center" id="actuality">
			<div class="container">
				<h4>ACTUALITES</h4>
				<hr style="border: 0px; border-top: solid 3px #1764b2; width: 230px; margin: .2em auto 1em auto; display: block; height: 1px;">
			</div>
		</div>
		<div class="jumbotron text-center" id="donation">
			<div class="container">
				<h4>DONS</h4>
				<hr style="border: 0px; border-top: solid 3px #1764b2; width: 230px; margin: .2em auto 1em auto; display: block; height: 1px;">
			</div>
		</div>
	</div>

	<div id="social">
		<div class="jumbotron text-center" id="">
			<div class="container">
				<h4>Vie des Sections et des Bureaux</h4>
				<hr style="border: 0px; border-top: solid 3px #1764b2; width: 230px; margin: .2em auto 1em auto; display: block; height: 1px;">
			</div>
		</div>
		<div class="jumbotron text-center" id="meeting">
			<div class="container">
				<h4>Assemblée Générale</h4>
				<hr style="border: 0px; border-top: solid 3px #1764b2; width: 230px; margin: .2em auto 1em auto; display: block; height: 1px;">
			</div>
		</div>
		<div class="jumbotron text-center" id="">
			<div class="container">
				<h4>Bulletin de Cotisation 2017</h4>
				<hr style="border: 0px; border-top: solid 3px #1764b2; width: 230px; margin: .2em auto 1em auto; display: block; height: 1px;">
			</div>
		</div>
		<div class="jumbotron text-center" id="cultural">
			<div class="container">
				<h4>Visites Culturelles</h4>
				<hr style="border: 0px; border-top: solid 3px #1764b2; width: 230px; margin: .2em auto 1em auto; display: block; height: 1px;">
			</div>
		</div>
		<div class="jumbotron text-center" id="leisure">
			<div class="container">
				<h4>Divertissements</h4>
				<hr style="border: 0px; border-top: solid 3px #1764b2; width: 230px; margin: .2em auto 1em auto; display: block; height: 1px;">
			</div>
		</div>
	</div>

	<% include footer %> 
	
  </body>
</html>
