<!DOCTYPE html>
<html>
  <% include head %>
  <body id="whole-body">
    <% include nav %>
    
    <div id="main">
		<div class="full-width header" id="head">
			<div class="">
				<h1>VOGT ALUMNI</h1>
				<h4> SLOGAN </h4>
			</div>
		</div>

		<div class="jumbotron text-center">
			<div class="container">
				<h4>A PROPOS</h4>
				<hr style="border: 0px; border-top: solid 3px #1764b2; width: 230px; margin: .2em auto 1em auto; display: block; height: 1px;">
				<P>L'association "Vogt Alumni" est une association apolitique ne relevant d'aucun mouvement syndical, qui accueille des anciens élèves du Collège François Xavier Vogt de Yaoundé toute promotion confondue. Dans l'optique de mener à bien plusieurs projets assurant notre avenir professionnel. </P>
			</div>
			<div class="container">
				<h4>QUI SOMMES-NOUS?</h4>
				<hr style="border: 0px; border-top: solid 3px #1764b2; width: 230px; margin: .2em auto 1em auto; display: block; height: 1px;">
				<div class="row">
					<div class="col-md-6 text-center">
			            <img class="icon" src="images/goal1.png">
			            <h5>Une Grande Famille</h5>
			            <p>Aujourd’hui plus que jamais, appartenir à un réseau vivant et important est une réelle ressource qui ofre à chacun de nombreuses opportunités professionnelles ou personnelles. L’association implique toutes les promotions dans un cadre de respect de la communauté. Vogt Alumni prend sa force dans l’engagement et l’interaction de chacun de ses membres.  Elle se veut de rassembler les anciens élèves venant de secteurs d’activités diférents autour d’événements, de conférences, de débats avec des intervenants de choix.</p>
			        </div>
			        <div class="col-md-6 text-center">
			            <img class="icon" src="images/goal2.png">
			            <h5>Un Réseau autour de votre Carrière</h5>
			            <p>Afin d’être un carrefour d’entraide et d’accompagnement professionnel, l’association met en place une base de données ayant des ofres d’emplois et de stages visibles par les membres sur le site internet. Ces ofres seront envoyées par les entreprises, les structures administratives ou les anciens élèves. Le réseau se veut d’être un véritable moteur et partenaire de carrière.</p>
			        </div>
			    </div>
			    <div class="row">
			        <div class="col-md-6 text-center">
			            <img class="icon" src="images/goal3.png">
			            <h5>Une Communauté tournée vers l’Avenir</h5>
			            <p>Parce que la jeunesse est le fer de lance de l’Avenir, Vogt Alumni s’engage à être un franc soutien pour les élèves en scolarité. Elle promeut l’éducation à travers des discussions autour de thèmes, de dons ciblés et de conseils. Elle met également à disposition des jeunes et futurs diplômés des guides d’orientations et des témoignages sur la vie étudiante et le monde professionnel.</p>
			        </div>
			        <div class="col-md-6 text-center">
			        	<img class="icon" src="images/goal4.png">
			        	<h5>Un Réseau Mondial</h5>
			        	<p>L’association tisse et anime ses réseaux à travers des délégations au Cameroun et à l’étranger. Les membres ont pour but d’accueillir les nouveaux arrivants, de développer la bonne réputation de l’association aux quatre coins du globe.</p>
			        </div>
				</div>
			</div>		
		</div>
		<div class="jumbotron text-center">
			<div class="container">
				<h4>FONCTIONNEMENT DE L'ASSOCIATION</h4>
				<hr style="border: 0px; border-top: solid 3px #1764b2; width: 230px; margin: .2em auto 1em auto; display: block; height: 1px;">
			</div>
			<div class="container">
				<h5>Les Commissions</h5>
				<p>Il sera crée régulièrement par le Président, des commissions au sein de l'association pour les différentes activités gérées par l'Event Manager notamment :<br> 
				-	Des commissions sportives<br> 
				-	Des commissions culturelles<br> 
				-	Des Commissions chargées des œuvres caritatives<br>
				</p>
				<p>La commission électorale sera mise en place pour le bon fonctionnement des élections.</p>
				<p>Retrouvez une explication détaillée des commissions <a href="">ici</a></p>
			</div>
			<div class="container">
				<h5>Les Délégués Par Pays</h5>
				<p>Ils sont les portes paroles des assemblées générales tenues dans les différentes antennes. Il assure la tenue des activités dans les différents pays et aident à répondre aux besoins locaux. Pour ces débuts, l'association commencera avec des délègues en Allemagne, en France et au Cameroun. Les membres de l'association vivant dans d'autres pays que ceux là prendront attache à l'un des délégués selon leurs choix.</p>
			</div>
			<div class="container">
				<h5>Pour plus d'informations concernant le fonctionnement de l'association veuillez jetter un coup d'oeil au <a href="">Statut</a></h5>
			</div>
		</div>
		<div class="jumbotron bureau" id="board">
			<div class='container text-center'>
				<h4>LES BUREAUX</h4>
				<hr style="border: 0px; border-top: solid 3px #1764b2; width: 230px; margin: .2em auto 1em auto; display: block; height: 1px;">
				<p>Retrouvez une explication détaillée des postes et responsabilités <a href="">ici</a></p>
			</div>
			<div class="container">
				<h5 class="text-center">MEMBRES DU BUREAU EXECUTIF</h5>
			</div>
			<div class="container">
				<a href="">
					<div class="personbox">
						<img src="/images/placeholder.png" alt="President">
						<h4>Name</h4>
						<h5>President</h5>
					</div>
				</a>
				<a href="">
					<div class="personbox">
						<img src="/images/placeholder.png" alt="Vice-President">
						<h4>Name</h4>
						<h5>Vice-President</h5>
					</div>
				</a>
				<a href="">
					<div class="personbox">
						<img src="/images/placeholder.png" alt="Secretaire">
						<h4>Name</h4>
						<h5>Secretaire</h5>
					</div>
				</a>
			</div>
		</div>
	</div>

	<div id="action">
		<div class="jumbotron text-center" id="mission">
			<div class="container">
				<h4>MISSION</h4>
				<hr style="border: 0px; border-top: solid 3px #1764b2; width: 230px; margin: .2em auto 1em auto; display: block; height: 1px;">
			</div>
			<div class="container">
				<h5>L’Association des Anciens Vogtois se donne pour missions:</h5>
				<p>✔	Entretenir les liens de camaraderie en organisant des activités;<br> 
					✔	Permettre aux membres de promouvoir leurs événements;  <br>
					✔	Créer une base de données regroupant entreprises, professionnels et leurs différents secteurs d’activités;  <br>
					✔	Mettre en place une plate-forme d’offres d’emplois et de stages; <br> 
					✔	Recueillir des témoignages de professionnels sur leurs parcours et leurs expériences professionnelles;  <br>
					✔	Mettre en place des partenariats d’échanges entre l’Association et les écoles au niveau local et international;  <br>
					✔	Récolter les témoignages des anciens pour accompagner les élèves en étude secondaire dans leur entrée dans la vie universitaire à travers un magazine en ligne; <br> 
					✔	Entretenir des relations avec des associations apparentés Cameroun et à l’étranger;<br>
				</p>
			</div>
		</div>
		<!--
		<div class="jumbotron text-center" id="objectif">
			<div class="container">
				<h4>OBJECTIFS</h4>
				<hr style="border: 0px; border-top: solid 3px #1764b2; width: 230px; margin: .2em auto 1em auto; display: block; height: 1px;">
			</div>
		</div>
		-->
		<div class="jumbotron text-center" id="actuality">
			<div class="container">
				<h4>ACTUALITES</h4>
				<hr style="border: 0px; border-top: solid 3px #1764b2; width: 230px; margin: .2em auto 1em auto; display: block; height: 1px;">
			</div>
			<div class="container">
				<p>Les inscriptions au sein de l'association sont actuellement en cours. Pour s'inscrire cliquez sur <a href="/login">Inscription</a></p><br>
				<p>Le dépôt de candidature pour les élections des membres a commencé. Pour les intéressés envoyez votre candidature à l'adresse louisnlm@gmail.com et jordan.takam@yahoo.fr</p>
			</div>
		</div>
		<div class="jumbotron text-center" id="donation">
			<div class="container">
				<h4>DONS</h4>
				<hr style="border: 0px; border-top: solid 3px #1764b2; width: 230px; margin: .2em auto 1em auto; display: block; height: 1px;">
			</div>
			<div class="container">
				<h5>Voulez vous aider l'association dans ses projets ?</h5>
				<p>Faites un don, contactez vogt@alumni.com</p>
				<p>N.B : Les dons ne sont pas uniquement financiers, nous acceptons tout ce qui peut aider ( livres, manuels, cahier, argent, offre d'emploi, stage...etc)</p>
			</div>
		</div>
	</div>

	<div id="social">
		<div class="jumbotron text-center" id="">
			<div class="container">
				<h4>Vie des Sections et des Bureaux</h4>
				<hr style="border: 0px; border-top: solid 3px #1764b2; width: 230px; margin: .2em auto 1em auto; display: block; height: 1px;">
			</div>
			<div class="container">
				<h5>Vie des antennes :</h5>
				<p>Les différentes antennes organisent leur mini assemblée respectivement :</p>
				<p>- France 1 septembre 2017</p>
				<p>- Allemagne 2  septembre 2017</p> 
				<p>- Cameroun 3 septembre 2017</p> 

				<h5>Bureau :</h5>
				<p>La première réunion du bureau exécutif aura lieu le lendemain de la proclamation des résultats</p>
			</div>
		</div>
		<div class="jumbotron text-center" id="meeting">
			<div class="container">
				<h4>Assemblée Générale</h4>
				<hr style="border: 0px; border-top: solid 3px #1764b2; width: 230px; margin: .2em auto 1em auto; display: block; height: 1px;">
			</div>
			<div class="container">
				<p>Assemblée générale la première assemblée générale extraordinaire sera organisée  après l'élection du bureau.</p>
			</div>		
		</div>
		<div class="jumbotron text-center" id="">
			<div class="container">
				<h4>Bulletin de Cotisation 2017</h4>
				<hr style="border: 0px; border-top: solid 3px #1764b2; width: 230px; margin: .2em auto 1em auto; display: block; height: 1px;">
			</div>
			<div class="container">
				<p>Les cotisations commenceront le 2 septembre 2017. Chaque membre aura un mois pour s'acquitter de ses frais.</p>
			</div>
		</div>
		<div class="jumbotron text-center" id="cultural">
			<div class="container">
				<h4>Visites Culturelles</h4>
				<hr style="border: 0px; border-top: solid 3px #1764b2; width: 230px; margin: .2em auto 1em auto; display: block; height: 1px;">
			</div>
			<div class="container">
				<p>Aucune visite culturelle n'a été mené par l'association pour le moment.</p>
			</div>
		</div>
		<div class="jumbotron text-center" id="leisure">
			<div class="container">
				<h4>Divertissements</h4>
				<hr style="border: 0px; border-top: solid 3px #1764b2; width: 230px; margin: .2em auto 1em auto; display: block; height: 1px;">
			</div>
			<div class="container">
				<p>Photos d'anciens vogtois</p>
			</div>
		</div>
	</div>

	<% include footer %> 
	
  </body>
</html>
